MYSQL_ROOT_PASSWORD=rootpw
MYSQL_DATABASE=quizduell
MYSQL_USER=quiz
MYSQL_PASSWORD=quizpw

BACKEND_PORT=3000
FRONTEND_PORT=8080
PUBLIC_BASE_URL=http://localhost:8080

APP_SECRET=change-me-please
ADMIN_TOKEN=change-me-please-too
JSON_BODY_LIMIT=16mb
MEDIA_ROOT=/app/media
QUESTION_PACKAGES_ROOT=/app/question-packages
MEDIA_UPLOAD_MAX_BYTES=0
UPLOAD_REQUEST_TIMEOUT_MS=0
AUTO_REVEAL_DELAY_MS=1700
FFMPEG_VIDEO_CRF=28
FFMPEG_VIDEO_MAX_WIDTH=1920
FFMPEG_VIDEO_MAX_HEIGHT=1080
FFMPEG_AUDIO_BITRATE_K=128
GAME_STATE_THROTTLE_MS=120
LIVE_SCORE_RANKING_LIMIT=100
SOCKET_JOIN_SEND_STATE=false
DB_POOL_MAX=30
DB_POOL_MIN=5
DB_POOL_ACQUIRE_MS=30000
DB_POOL_IDLE_MS=10000
